@model CoreModels.Models.UserViewModel
    @{
        ViewBag.per = "%";
        ViewBag.position = "职务: ";
    }
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>华夏签证</title>
    <link href="~/Content/Css/ChatCore.css" rel="stylesheet" />
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 8]>
    <script>
        alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
    </script>
    <![endif]-->

    <link href="~/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="~/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css?v=3.0.0" rel="stylesheet">
    <link href="~/css/jquery-webox.css" rel="stylesheet" type="text/css">

    <style type="text/css">

        .box {
            height: 25px;
            line-height: 25px;
            overflow: hidden;
        }
        .box ul {
            margin: 0;
            padding: 0;
        }
        .box li {
            height: 25px;
            line-height: 25px;
            font-size: 13px;
            text-align: left;
            list-style-type: none;
            /*color: #1584C7;*/
        }
            



        .roll-right.J_tabRight {
            right: 140px;
        }

        .roll-right.J_tabClose {
            right: 60px;
            width: 80px;
        }

        .roll-right.J_tabExit {
            background: #fff;
            height: 40px;
            width: 60px;
            outline: none;
        }

        .dropdown-menu-right {
            left: auto;
        }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1000000001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            border: 3px solid lightblue;
            background-color: white;
            z-index: 1000000001;
            overflow: auto;
        }

        .white_content_small {
            display: none;
            position: absolute;
            top: 20%;
            left: 30%;
            width: 40%;
            height: 50%;
            border: 1px solid lightblue;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
    </style>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/js/sweet-alert.js"></script>
    <link rel="stylesheet" href="~/css/sweet-alert.css">
    <script src="/js/jquery-webox.js" type="text/javascript"></script>

    @*新的webbox导入*@
    <script src="~/js/asyncbox/AsyncBox.js"></script>
    <link href="~/js/asyncbox/asyncbox.css" rel="stylesheet" />


    <script language="JavaScript" type="text/javascript">
        var HeartBeat = @ViewBag.HeartBeat;
        var UserID = @ViewBag.UserID;
        timefly = 1000 * 60 * 60 * 5;
        activeDt = new Date();
        gotourl = "/Home/ReVerification"
        setInterval("checkTime()", 1000);
        document.onmousemove = retime;
        document.onkeypress = retime;
        function retime() {
            activeDt = new Date();
        }
        function checkTime() {
            dt = new Date();
            if ((dt - activeDt) > timefly) location.href = gotourl;
        }

        var DispClose = false;
        function CloseEvent() {
            if (DispClose) {
                return "是否离开当前页面?";
            }
        }

        function UnLoadEvent(event) {
            DispClose = false;
            $.ajax({
                type: "GET",
                url: "/Home/_SaveUserLogOut?LogID=" + HeartBeat + "&UserID=" + UserID
            });
        }

        function Dc() {
            if (confirm('是否选择登出?')) {
                frames.location.href = '/Home/Cannel?LogID='+HeartBeat;
            }
        }

        function Dc1() {
            frames.location.href = '/Home/Cannel?LogID='+HeartBeat;
        }

        function opCompanyBook() {
            var winUrl = '/Home/CompanyBook';
            asyncbox.open({
                id: '123',
                title: '通讯录',
                url: winUrl,
                width: 800,
                height: 600
            });
        }

        function opModifyPWD() {
            $.webox({
                height: 355,
                width: 500,
                bgvisibel: true,
                title: '修改密码',
                iframe: '/Home/ShowModifyPWD'
            });
        }

        function opShowArticle(ArticleID,type) {
            var itype = $("#readType_"+ArticleID).html();
            if(itype=="[未读]"){
                var count = parseInt($("#spNotice").html());
                count--;
                $("#spNotice").html(count);
                $("#readType_"+ArticleID).html("[已读]");
                $("#readType_"+ArticleID).attr("style","color:#999;");
            }
            $.webox({
                height: 350,
                width: 600,
                top: 246,
                bgvisibel: true,
                title: '公告信息',
                iframe: '/Home/ShowArticle?ArticleID=' + ArticleID
            });
        }

        function opShowProductWordTrip(TripID)
        {
            $.webox({
                height: 700,
                width: 950,
                top: 246,
                bgvisibel: true,
                title: '详细信息',
                iframe: '/Home/ShowProductWordTrip?TripID=' + TripID
            });
        }

        function opShowFollowUp(FollowID) {
            $.webox({
                height: 500,
                width: 600,
                top: 360,
                bgvisibel: true,
                title: '跟进展示页面',
                iframe: '/Home/ShowShowFollowUp?FollowID=' + FollowID
            });
        }


        var tUserid = "0";
        //弹出隐藏层
        function ShowDiv(t){
            tUserid = t;
            //获取当前日期
            var now = new Date();
            var str = now.getFullYear()+"-"+((now.getMonth()+1)<10?"0":"")+(now.getMonth()+1)+"-"+(now.getDate()<10?"0":"")+now.getDate();
            $("#ContentPlaceHolder1_OTravelDate").val(str);

            var show_div = 'MyDiv';
            var bg_div = 'fade';
            document.getElementById(show_div).style.display='block';
            document.getElementById(bg_div).style.display='block' ;
            var bgdiv = document.getElementById(bg_div);
            bgdiv.style.width = document.body.scrollWidth;
            // bgdiv.style.height = $(document).height();
            $("#"+bg_div).height($(document).height());
            ChangeAddDate();
        };
        //关闭弹出层
        function CloseDiv()
        {
            var show_div = 'MyDiv';
            var bg_div = 'fade';
            document.getElementById(show_div).style.display='none';
            document.getElementById(bg_div).style.display='none';
        };
        //修改日期事件
        function ChangeAddDate()
        {
            //userid,tUserid
            var time = $("#ContentPlaceHolder1_OTravelDate").val();
            $.ajax({
                type: "GET",
                url: "/UserChatRecord/GetUserChatRecord",
                data: "fUser=" + userid + "&tUser=" + tUserid + "&addTime=" + time,
                success: function (sesponseTest) {
                    var strHtml = "";
                    if(sesponseTest==""){
                        strHtml = "本日无聊天记录。";
                    }else{
                        var strList = sesponseTest.split('|');
                        for(var i=0;i<strList.length;i++){
                            var str = strList[i].split(',');
                            if(tUserid==str[0]){
                                strHtml+='<div style="color:green;">'+str[1]+'&nbsp;'+str[3]+'</div>';
                            }else{
                                strHtml+='<div style="color:blue;">'+str[1]+'&nbsp;'+str[3]+'</div>';
                            }
                            strHtml+='<div style="text-indent:2em;">'+str[2]+'</div>';
                        }
                    }

                    $("#nr1").html(strHtml);
                }
            });
        }
    </script>


     

</head>

<body class="fixed-sidebar full-height-layout gray-bg" onunload="UnLoadEvent(event);">
    <div id="fade" class="black_overlay">
    </div>
    <div id="MyDiv" class="white_content">
        <div style="text-align: right; cursor: default; height: 1px;">
            <span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">X</span>
        </div>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td width="40px" style="text-align:right;">日期：</td>
                    <td width="130px"><input readonly="readonly" name="ctl00$ContentPlaceHolder1$OTravelDate" class="form-control" type="text" id="ContentPlaceHolder1_OTravelDate" onfocus="WdatePicker({doubleCalendar:true,dateFmt:&#39;yyyy-MM-dd&#39;})" style="width:120px;" /></td>
                    <td><button type="button" onclick="ChangeAddDate();">检索</button></td>
                </tr>
            </table>
        </div>
        <div style="height:90%; overflow:auto;" id="nr1">
            <div style="color:blue;"></div>
            <div style="text-indent:2em;"></div>
            <div style="color:green;"></div>
            <div style="text-indent:2em;"></div>
            <div style="color:blue;"></div>
            <div style="text-indent:2em;"></div>
            <div style="color:green;"></div>
            <div style="text-indent:2em;"></div>
            <div style="text-indent:2em;"></div>
        </div>
    </div>
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="/img/a8.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">@ViewBag.position@ViewBag.UserType</span>
                                    <span class="text-muted text-xs block">
                                        <strong class="font-bold">
                                            @ViewBag.UserName
                                        </strong>
                                        <b class="caret"></b>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a href="/Home/Cannel?LogID=@ViewBag.HeartBeat">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            系统
                        </div>
                    </li>
                    @{Html.RenderAction("Menu", "Nav");}
                </ul>
            </div>
        </nav>
        <input type="text" value="" id="abcid" name="abcid" style="display:none;" />
        <input type="text" value="" id="abctitle" name="abctitle" style="display:none;" />
        <input type="text" value="" id="abcsj" name="abcsj" style="display:none;" />
        <button type="button" id="abccs" style="display:none;"></button>
        
        <input type="text" value="" id="Tabcid" name="Tabcid" style="display:none;" />
        <input type="text" value="" id="Tabctitle" name="Tabctitle" style="display:none;" />
        <input type="text" value="" id="Tabcsj" name="Tabcsj" style="display:none;" />
        <input type="text" value="" id="getCodeId" name="getCodeId" style="display:none;"  />

        <input type="text" value="" id="QTabcid" name="QTabcid" style="display:none;" />
        <input type="text" value="" id="QTabctitle" name="QTabctitle" style="display:none;"  />
        <input type="text" value="" id="QTabcsj" name="QTabcsj" style="display:none;" />
        <input type="text" value="" id="QgetCodeId" name="QgetCodeId" style="display:none;"  />
        <button type="button" id="QTabccs" style="display:none;"></button>

        @*<input type="text" value="" id="getLoginID" name="getLoginID" />*@
        <input type="text" value="" id="getRPercentage" name="getRPercentage" style="display:none;" />
        <input type="text" value="" id="getRFeedback" name="getRFeedback" style="display:none;" />
        <button type="button" id="Tabccs" style="display:none;"></button>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <a class="navbar-minimalize minimalize-styl-2 btn " > 
                            <div class="box" id="marqueebox0">
                                <ul id="GetInteractiveProblem" >
                                    @foreach (var a in ViewBag.MyAskList)
                                    {
                                        <li onclick="UpdateWorkReceive('@a.TTypeName')">❄@a.TTypeName</li>
                                    }
                                </ul>
                            </div>
                        </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown" >
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-user-plus"></i> <span class="label label-warning">当前有<span id="rs"></span>人在线</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages" id="ul1"></ul>
                        </li>
                        @{Html.RenderAction("SysNotice", "SysPublic");}
                        @{Html.RenderAction("SysTask", "SysPublic");}
                        <li>
                            <a href="javascript:void(0);" onclick="opModifyPWD();" style="font-size:12px;"><i class="fa fa-info"></i>改密码</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="opCompanyBook();" style="font-size:12px;"><i class="fa fa-code-fork"></i>通讯录</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            
            @*<div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i></button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="/Home/WelcomePage">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i></button>
            </div>*@

            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="/Home/WelcomePage">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                @*<a href="login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>*@
                <a href="javascript:void(0);" onclick="Dc();"  class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i>退出</a>
            </div>

            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Home/WelcomePage" frameborder="0" data-id="/Home/WelcomePage" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy; 2017-2020 Version3.0
                </div>
            </div>

            <!--右侧边栏开始-->
        <div id="right-sidebar">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-2">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1" onclick="AddWorkTask(@ViewBag.CodeId)">
                            <i class="fa fa-gear"></i> 任务(备忘录)+
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    

                    

                    
                    <div id="tab-1" class="tab-pane active">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-cube"></i> 最新任务</h3>
                            <small><i class="fa fa-tim"></i> 您当前有 @ViewBag.taskCount 个任务，@ViewBag.FinishTask 个已完成</small>
                        </div>

                        <ul class="sidebar-list" id="MyTask">

                            @foreach (var re in ViewBag.Recipient)
                            {

                                int Days = 0;
                                DateTime CreateTime = Convert.ToDateTime(re.SCreateTime);
                                var currentLackTime = DateTime.Now;

                                TimeSpan midTime = currentLackTime - CreateTime;
                                if (midTime != null && midTime.TotalHours >= 1)
                                {
                                    Days = midTime.Hours;
                                }
                                else
                                {
                                    Days = 0;
                                }

                                var getContent = re.SContent.Replace("$", "<br/>");
                                var getRFeedback = "";
                                if (re.RFeedback != null)
                                {
                                    getRFeedback = re.RFeedback.Replace("$", "<br/>");
                                }
                                else {
                                    getRFeedback = null;
                                }
                                <li> 
                                    <a href="#">
                                        <div class="small pull-right m-t-xs">
                                            @if (Days == 0)
                                            {
                                                <span style="color:#CCC;">--</span>
                                            }
                                            else
                                            {
                                                <span style="color:#CCC;">-</span>
                                                @*<span>已过去<span style="color:#F8962B;font-size:15px;">@Days</span>小时</span>*@
                                            }
                                        </div>
                                        <h4  onclick="UpdateWorkTask(@re.RId,1)">@re.TTypeName</h4> @Html.Raw(getContent)
                                        <span style="color:#F8962B;"><br/>@Html.Raw(getRFeedback)</span>
                                        <div class="small">已完成：@re.RPercentage@ViewBag.per</div>
                                        <div class="progress progress-mini">
                                            <div style="width: @re.RPercentage@ViewBag.per;" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                        <div class="small text-muted m-t-xs">任务接收者: @re.RecipientName</div>
                                        <div class="small text-muted m-t-xs">更新时间: @re.RFollowUpTime</div>
                                        <div class="small text-muted m-t-xs">创建时间: @re.SCreateTime</div>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--右侧边栏结束--

        </div>

        @RenderBody();
        <!--右侧部分结束--> 
        <!--右侧边栏开始-->
        @*@{Html.RenderAction("SysInfo", "SysPublic");}*@
        <!--右侧边栏结束-->

    </div>
    </div>
    <!-- 全局js -->
    <script src="~/js/bootstrap.min.js?v=3.4.0"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="~/js/hplus.js?v=3.0.0"></script>
    <script type="text/javascript" src="~/js/contabs.js"></script>
    <script src="/AdminJsCss/DatePicker/WdatePicker.js" type="text/javascript"></script>

    <!-- 第三方插件 -->
    <script src="/js/plugins/pace/pace.min.js"></script>

    <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/layer/layer.min.js"></script>
    <script type="text/javascript">
        //本次登录心跳编号
        var logid = @ViewBag.HeartBeat;
        //记录头像
        var userlogo = "@ViewBag.UserLogo";
        //用户编号
        var userid = @ViewBag.UserID;
        //用户名
        var username = "@ViewBag.UserName";
        var deptname = "同事";
        var deptid = "1";
        //所属门店编号
        var supplierID = @ViewBag.SupplierID;
        //所属门店名称
        var supplierName = "@ViewBag.SupplierName";
        var addTime = "@ViewBag.AddTime";
        //员工成长值
        var SysLogTime="@ViewBag.SysLogTime";
        //是否迟到
        var ISLate = @ViewBag.ISLate;

        var LoginID = @ViewBag.CodeId;


        function AddWorkTask(codeId) {
            if (codeId == '') {
                asyncbox.tips('任务分配', 'alert');
                return;
            }

            var winUrl = '/MyWorkTask/AddTask?CodeId=' + codeId + "&version=" + (new Date()).getTime();
            asyncbox.open({
                id: '123',
                title: '【查看】任务分配',
                url: winUrl,
                width: 700,
                height: 480
            });
        }

        function UpdateWorkTask(RId,DateType) {
            if (RId == '') {
                asyncbox.tips('更新任务进度', 'alert');
                return;
            }

            var winUrl = '/MyWorkTask/UpdateTask?rId=' + RId + '&dateType=' + DateType + "&version=" + (new Date()).getTime();
            asyncbox.open({
                id: '123',
                title: '【查看】更新任务进度',
                url: winUrl,
                width: 700,
                height: 480
            });
        }


        function UpdateWorkReceive(TTypeName) {
            if (TTypeName == '') {
                asyncbox.tips('互动问答', 'alert');
                return;
            }

            var winUrl = '/MyWorkTask/getUpdateReceive?typeName=' + TTypeName + "&version=" + (new Date()).getTime();
            asyncbox.open({
                id: '',
                title: '【查看】互动问答',
                url: winUrl,
                width: 700,
                height: 480
            });
        }

        //function WorkTaskList(RId) {
        //    if (RId == '') {
        //        asyncbox.tips('查看任务列表', 'alert');
        //        return;
        //    }

        //    var winUrl = '/MyWorkTask/UpdateTask?rId=' + RId + "&version=" + (new Date()).getTime();
        //    asyncbox.open({
        //        id: '123',
        //        title: '【查看】任务列表',
        //        url: winUrl,
        //        width: 800,
        //        height: 580
        //    });
        //}
    </script>


    <script src="/Scripts/ChatCore.js"></script>
    <script src="/js/html/DragUpdate.js"></script>
    @*<script src="/js/frame.js"></script>*@


    <script type="text/javascript">

        function startmarquee(lh,speed,delay,index){
            var t;
            var p=false;
            var o=document.getElementById("marqueebox"+index);
            o.innerHTML+=o.innerHTML;
            o.onmouseover=function(){p=true}
            o.onmouseout=function(){p=false}
            o.scrollTop = 0;
            function start(){
                t=setInterval(scrolling,speed);
                if(!p){ o.scrollTop += 1;}
            }
            function scrolling(){
                if(o.scrollTop%lh!=0){
                    o.scrollTop += 1;
                    if(o.scrollTop>=o.scrollHeight/2) o.scrollTop = 0;
                }else{
                    clearInterval(t);
                    setTimeout(start,delay);
                }
            }
            setTimeout(start,delay);
        }
        startmarquee(25,30,3000,0);
        startmarquee(25,40,0,1);

    </script>

</body>

</html>
